@import "{{ site theme }}"
 
 body{
  background color: #ADD8E6;
  font-family: "Ariel";
}

.portfolio-card {
    margin: 24px 0px;
    border: 1px solid #333;
    padding: 24px;
    border-radius: 25px;
    background-color: #ADD8E6;
    color: #000;
  }
